<section>
  <div class="w-50 mx-auto pt-5">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        {{post.title}}
      </div>
      <div class="card-body">
        {{post.content}}
      </div>
      <div class="card-body">
        <p class="card-text">{{post.categorie}}</p>
      </div>
      <ul class="list-group list-group-flush" *ngFor="let comment of post.comments">
        <li class="list-group-item">{{comment.content}}</li>
      </ul>
    </div>
  </div>
</section>