<div class="wrapper fadeInDown">
  <div id="formContent">

    <h2 class="active"> Sign In </h2>
    <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->

    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <input
        type="text"
        id="login"
        class="fadeIn second"
        placeholder="login"
        name="username"
        [(ngModel)]="form.username"
        required
        #username="ngModel"
      >
      <input
        id="password"
        class="fadeIn third"
        placeholder="password"
        type="text"
        name="password"
        [(ngModel)]="form.password"
        required
        minlength="6"
        #password="ngModel"
      >
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <div id="formFooter">
      <a class="underlineHover" href="/register">register?</a>
    </div>

  </div>
</div>
